body {
  color: black;
}
.navbar-nav {
  float: right;
}
.navbar-nav span {
  color: white;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #303F9F;
  color: white;
}
.list-group {
  border: none;
  box-shadow: none;
}
.list-group-item {
  border: none;
  box-shadow: 1px 1px 5px #888888;
  margin: 1%;
}
a.list-group-item {
  display: flex;
}
.avatar_img {
  width: 50px;
}
#numbers {
  float: right;
}

.content {
  height: 700px;
  overflow-y: scroll;
  background-color: #F5F5F5;
}
.content a {
  color: #9E9E9E;
}
a {
  color: white;
}
a:hover {
  text-decoration: none;
}
.navbar {
  background-color: #3F51B5;
}
.li.list-group-item {
  background-color: #B0BEC5 !important;
}
.list-group-item:hover {
  background-color: rgba(33, 33, 33, 0.1);
  cursor: pointer;
}
.right {
  float: right;
}
.right, span {
  color: #9E9E9E;
  padding: 0 15px;
}
.content span {
  color: #EC407A;
}
.panel-heading span {
  color: #757575;
}
.media-heading {
  color: #283593;
}
.panel-body h3 {
  color: #757575;
}
.reset-padding {
  padding: 0;
}
.left-padding {
  padding: 0 15px 0 0;
}
.badges {
  text-align: center;
}
span.glyphicon.glyphicon-star {
  vertical-align: top;
  padding: 0 10px;
}