<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-9" aria-expanded="false"><span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a routerLink="" routerLinkActive="active" class="navbar-brand">Angular App</a></div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">
                    <li><a routerLink="contributors" routerLinkActive="active">Contributors <span class="glyphicon glyphicon-chevron-down"></span></a></li>
                    <li><a routerLink="followers" routerLinkActive="active">Followers <span class="glyphicon glyphicon-chevron-down"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>