<div class="col-lg-12 reset-padding">
    <div class="col-lg-5 left-padding">
        <div class="row">
            <div class="col-md-10">
                <a href="#" class="thumbnail">
                    <img src="{{information.avatar_url}}" alt="">
                </a>
            </div>

            <div class="col-md-12">
                <h3>{{information.login}}</h3>
                <h4>{{information.name}}</h4>

                <p>
                    {{information.bio}}
                </p>

                <hr>
                <p><span class="glyphicon glyphicon-envelope"></span> {{information.email}}</p>
                <p><span class="glyphicon glyphicon-link"></span> {{information.blog}}</p>
                <p>
                    <span class="glyphicon glyphicon-time"></span> Joinned - {{information.created_at}}
                </p>
                <hr>
                <div class="col-lg-4 badges"><h4><span class="badge">{{information.followers}}</span></h4>Followers</div>
                <div class="col-lg-4 badges"><h4><span class="badge">{{information.public_repos}}</span></h4>Public repositories</div>
                <div class="col-lg-4 badges"><h4><span class="badge">{{information.following}}</span></h4>Following</div>

            </div>
        </div>


    </div>
    <div class="col-lg-7 reset-padding">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">User repositories</h3>
            </div>

            <div class="content">
                <li class="list-group-item" *ngFor="let repository of repo">
                    <a href="">{{repository.name}}</a> <span class="glyphicon glyphicon-star" style="float: right;">{{repository.stargazers_count}}</span>
                    <p>{{repository.description}}</p>
                </li>
            </div>
        </div>
    </div>
</div>
