<div class="col-lg-12 reset-padding">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="media">
                <div class="media-left">
                    <a href="information.html">
                        <img class="media-object avatar_img" src="{{data.owner && data.owner.avatar_url}}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <a href="{{data.owner && data.owner.avatar_url}}"><h4 class="media-heading">{{data.name}}</h4></a>
                    <div id="numbers">
                        <span class="glyphicon glyphicon-user"></span> {{data.forks_count | number}} Forks
                        <span class="glyphicon glyphicon-user"></span> {{data.watchers_count | number}} Watchers
                        <span class="glyphicon glyphicon-user"></span> {{data.stargazers_count | number}} Stargazers
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body content">
            <h3>{{data.description}}</h3>
            <hr>
            <div class="contributors" *ngFor="let contributor of contributors">
                <div class="list-group col-lg-4">
                    <a routerLink="/information/{{contributor.login}}" class="list-group-item">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object avatar_img" src="{{contributor.avatar_url}}" alt="...">
                            </div>
                        </div>
                        <h4 class="list-group-item-heading">{{contributor.login}}</h4>
                        <p class="list-group-item-text">...</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
